@charset "utf-8";


.aa{
    text-align: center;
    color: #fff;
    background: #ff99ff;
}


.aaa{
    text-align: center;
    width: 350px;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #f9f;
    background: #FFF;
    border: solid 3px #f9f;
    border-radius: 10px;

}

.box2{
    color: #fff;
    background: #ff99ff;

}

.box3{
        padding: 0.5em 1em;
        margin: 2em 0;
        font-weight: bold;
        color: #f9f;
        background: #FFF;
        border: solid 3px #f9f;
        border-radius: 10px;

}


.box4{
    color: #fff;
    background: #ff99ff;
}



.box5{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #f9f;
    background: #FFF;
    border: solid 3px #f9f;
    border-radius: 10px;
}




.box7{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #f9f;
    background: #FFF;
    border: solid 3px #f9f;
    border-radius: 10px;
}


.box8{
    color: #fff;
    background: #ff99ff;
}



.box9{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #f9f;
    background: #FFF;
    border: solid 3px #f9f;
    border-radius: 10px;
}


.box10{
    color: #fff;
    background: #ff99ff;
}

.box11{
    color: #fff;
    background: #ff99ff;
   
}
